.about {
  background-image: url(../assets/images/Image2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.images {
  @apply rounded-full overflow-hidden w-[50%] border-[5px] border-[#178474] select-none;
}

.button {
  @apply px-3 py-2 rounded-md border-[3px] font-semibold duration-200 ease-in-out flex justify-center items-center gap-2 select-none;
}